body {
    margin: 0;
    background: grey;

}

.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 'left center right';
}

.main-page {
    font-family: Helvetica, sans-serif;
    color: ghostwhite;
    text-shadow: black 2px 2px 5px;
    height: 600px;
}

.center {
    display: grid;
    grid-area: center;
}

.shadow-box{
    box-shadow: 0 8px 6px -6px black;

}

#main-header1 {
    font-size: 120px;
    font-weight: 600;
    height: 150px;
    margin: 0px;
    align-items: center;
    font-family: salmon, sans-serif;
    display: flex;
    justify-content: center;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);

}

.main-header {
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    color: whitesmoke;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);;
    padding: 8px 0px 15px 0px;

}

#button {
    background: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: #444;
    border-radius: 7px;
    box-shadow: 0 8px 6px -6px  rgba(0, 0, 0, .8);
}

.left {
    display: grid;
    grid-area: left;
}

.right {
    display: grid;
    grid-area: right;

}
.right-container{
    margin: 10px;
    background: #888888;
    border-radius: 4px;
    width: 90%;
    box-shadow: 0 2px 10px -5px darkslategray;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.containerGrid {
    display: grid;
    border: 2px lightgray solid;
    box-shadow: black 2px 2px 4px;
    height: 200px;
    width: 225px;
    grid-template-areas: "box1 box2 box3 box4 box5" "box6 box7 box8 box9 box10" "box11 box12 box13 box14 box15" "box16 box17 box18 box19 box20";
}

.rollDieFunction {
    height: 82%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.rolled-numbers, #number-list{
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);;
    padding: 8px 0 15px 0;
    font-size: 20px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    flex-direction: column;
}
.rolled-numbers{
    border-radius: 4px 4px 0 0 ;
    background: grey;
    box-shadow: 0 2px 5px darkslategrey;
}



#box1 {
    grid-area: box1;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    animation-name: example;
    animation-duration: 4s;
}

#boox2 {
    grid-area: box2;
    width: 50px;
    height: 50px;
    background-color: blue;
    animation-name: example;
    animation-duration: 4s;
}

#boox3 {
    grid-area: box3;
    width: 50px;
    height: 50px;
    background-color: royalblue;
    animation-name: example;
    animation-duration: 4s;
}

#boox4 {
    grid-area: box4;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    animation-name: example;
    animation-duration: 4s;
}

#boox5 {
    grid-area: box5;
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
    animation-name: example;
    animation-duration: 4s;
}

#boox6 {
    grid-area: box6;
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    animation-name: example;
    animation-duration: 4s;
}

#boox7 {
    grid-area: box7;
    width: 50px;
    height: 50px;
    background-color: green;
    animation-name: example;
    animation-duration: 4s;
}

#boox8 {
    grid-area: box8;
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    animation-name: example;
    animation-duration: 4s;
}

#boox9 {
    grid-area: box9;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    animation-name: example;
    animation-duration: 4s;
}

#boox10 {
    grid-area: box10;
    width: 50px;
    height: 50px;
    background-color: palegreen;
    animation-name: example;
    animation-duration: 4s;
}

#boox11 {
    grid-area: box11;
    width: 50px;
    height: 50px;
    background-color: darkred;
    animation-name: example;
    animation-duration: 4s;
}

#boox12 {
    grid-area: box12;
    width: 50px;
    height: 50px;
    background-color: firebrick;
    animation-name: example;
    animation-duration: 4s;
}

#boox13 {
    grid-area: box13;
    width: 50px;
    height: 50px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

#boox14 {
    grid-area: box14;
    width: 50px;
    height: 50px;
    background-color: darkorange;
    animation-name: example;
    animation-duration: 4s;
}

#boox15 {
    grid-area: box15;
    width: 50px;
    height: 50px;
    background-color: orange;
    animation-name: example;
    animation-duration: 4s;
}

#boox16 {
    grid-area: box16;
    width: 50px;
    height: 50px;
    background-color: black;
    animation-name: example;
    animation-duration: 4s;
}

#boox17 {
    grid-area: box17;
    width: 50px;
    height: 50px;
    background-color: grey;
    animation-name: example;
    animation-duration: 4s;
}

#boox18 {
    grid-area: box18;
    width: 50px;
    height: 50px;
    background-color: darkgrey;
    animation-name: example;
    animation-duration: 4s;
}

#boox19 {
    grid-area: box19;
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    animation-name: example;
    animation-duration: 4s;
}

#boox20 {
    grid-area: box20;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    animation-name: example;
    animation-duration: 4s;
}

.box1 {
    grid-area: box1;
    background: darkblue;
}

.box2 {
    grid-area: box2;
    background: blue;
}

.box3 {
    grid-area: box3;
    background: royalblue;
}

.box4 {
    grid-area: box4;
    background: dodgerblue;
}

.box5 {
    grid-area: box5;
    background: lightskyblue;
}

.box6 {
    grid-area: box6;
    background: darkgreen;
}

.box7 {
    grid-area: box7;
    background: green;
}

.box8 {
    grid-area: box8;
    background: yellowgreen;
}

.box9 {
    grid-area: box9;
    background: greenyellow;
}

.box10 {
    grid-area: box10;
    background: palegreen;
}

.box11 {
    grid-area: box11;
    background: darkred;
}

.box12 {
    grid-area: box12;
    background: firebrick;
}

.box13 {
    grid-area: box13;
    background: red;

}

.box14 {
    grid-area: box14;
    background: darkorange;
}

.box15 {
    grid-area: box15;
    background: orange;
}

.box16 {
    grid-area: box16;
    background: black;
}

.box17 {
    grid-area: box17;
    background: grey;
}

.box18 {
    grid-area: box18;
    background: darkgrey;
}

.box19 {
    grid-area: box19;
    background: lightgrey;
}

.box20 {
    grid-area: box20;
    background: whitesmoke;
}

.competent {
    display: flex;
    justify-content: center
}


.my-link {
    font-family: salmon, sans-serif;
}

.select-css {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}


.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 8px 6px -6px  rgba(0, 0, 0, .8);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}