html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

#page-container {
    background: url("../images/mrLewis/MLTF5.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center !important;
}

.regular-wrapper {
    height: 2px;
    width: 100vw;
    background: red;
    margin-bottom: 10px;
    float: right;
    -webkit-animation: slideIn 2s forwards;
    -moz-animation: slideIn 2s forwards;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    0% {
        background-color: red;
    }
    40% {
        background-color: white;
    }
    100% {
        background-color: red;
    }
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0%;
    }
}

.nav-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.jumbotron {
    background: none !important;
}

.main-page {
    /*background: grey;*/
}

.header {
    color: rgba(255, 255, 255, .2);
    font-size: 60px;
    font-family: 'Righteous', cursive;
    -webkit-animation: headerAni 4s infinite;
    -moz-animation: headerAni 4s infinite;
    animation: headerAni 4s infinite;
}

@keyframes headerAni {
    0% {
        -webkit-text-stroke: 1px red;
    }
    10% {
        -webkit-text-stroke: 1px black;
    }
    20% {
        -webkit-text-stroke: 1px red;
    }
    40% {
        -webkit-text-stroke: 1px darkgrey;
    }
    60% {
        -webkit-text-stroke: 1px red;
    }
    70% {
        -webkit-text-stroke: 1px black;
    }
    75% {
        -webkit-text-stroke: 1px whitesmoke;
    }
    80% {
        -webkit-text-stroke: 1px black;
    }
    90% {
        -webkit-text-stroke: 1px red;
    }
    95% {
        -webkit-text-stroke: 1px black;
    }
    98% {
        -webkit-text-stroke: 1px red;
    }
    100% {
        -webkit-text-stroke: 1px black;
    }
}

.sub-header {
    color: lightgrey;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    text-shadow: 0px 0px 4px black;
}

.image {
    height: 400px;
    overflow: hidden;
}

.the-band {
    width: 100%;
}

.about-container {
    display: flex;
    justify-content: center;
    text-align: left;
}


.toggle {
    background: whitesmoke;
}

.about {
    width: 50%;
    font-size: 16px;
    padding: 15px;
    z-index: 0;
    background: whitesmoke;
    border-radius: 4px;
    height: 120%;
}

.player-container {
    position: -webkit-sticky;
    position: sticky;
    bottom: 2%;
    padding-left: 70%;
}


.toggle-player {
    width: 200px;
    margin-right: 0px;
}

.player-frame {
    background: whitesmoke;
    border-radius: 4px;
    box-shadow: 2px 2px 5px whitesmoke;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media-content {
    flex-direction: column;
    justify-content: center;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

.band-links {
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
}

.bi-plus-circle {
    rotation: 15deg;
}

.footer {
    color: whitesmoke;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: left;
    position: -webkit-sticky;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 160px;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

p {
    margin: 0px !important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 160px; /* Footer height */
}

.lSide{
    background: rgba(255, 255, 255, .5);
}

.image {
    height: 600px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.element {
. center-block();
}

.my-link {
    font-size: 10px;
}

.toggle-player {
    border: 10px rgba(100, 100, 100, .6) solid;
    background-color: silver;
    -webkit-animation: backShadow 2s infinite, playerAni 2s normal;
    -moz-animation: backShadow 2s infinite, playerAni 2s normal;
    animation: backShadow 2s infinite, playerAni 2s normal;
}

@keyframes playerAni {
    0% {
        background-color: rgba(100, 100, 100, .3);
    }
    40% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    60% {
        background-color: rgba(100, 100, 100, .3);
    }
    75% {
        background-color: rgba(100, 100, 100, .5);
    }
    80% {
        background-color: black;
    }
    90% {
        background-color: rgba(100, 100, 100, .3);
    }
    95% {
        background-color: black;
    }
}

@keyframes backShadow {
    0% {
        box-shadow: 0 0px 4px rgba(255, 255, 255, 1);
    }
    50% {
        box-shadow: 0 0px 4px rgba(255, 255, 255, 0);
    }
}



