.App {
  text-align: center;
  background: #282c34;
}

.nav{
  background: papayawhip;
  color: whitesmoke;
  font-family: "Heiti SC", sans-serif;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 100;
  font-family: "Heiti SC", sans-serif;
  box-shadow: 0 2px 5px black;
  text-transform: uppercase;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContent{
  background: #61dafb;
  height: 400px;

}

.main-title{
  font-size: 50px;
}

.todo-list{
  background: papayawhip;
  width: 75%;
  border-top: 4px #282c34 solid;
  box-shadow:
          0 7px 4px -5px rgba(0,0,0,.5),
          0 4px 0 4px purple,
          0 17px 5px -5px rgba(0,0,0,.5),
          0 8px 0 8px limegreen,
          0 22px 5px rgba(0,0,0,.5);
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 100px;
  border-radius: 0 0 4px 4px ;
}
.projects {
  font-family: "Heiti SC", sans-serif;
  font-size: 20px;
  padding: 5px;
  color: whitesmoke;
  border-bottom: 1px solid mediumseagreen;
  text-align: center;
}
.project-header{
  font-size: 40px;
}

.projectsDescription{
  width: 75%;
  display: inline-block;
}

.footer{
  position: absolute;
  background: #282c34;
  color: whitesmoke;
  height: 100px;
  width: 100%;
}
